body {
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    font-size: 18px;
    margin:0;
    background-color: rgba(255, 235, 205, 0.37);
}



.Header {
    position: fixed;
    width: 100%;
    top: 0;
    /* background-color: antiquewhite; */
    background-image: url(https://i.imgur.com/0EPU2pH.jpg);
    font-size: 20px;
}

.header-main {
    font-family: 'Comfortaa', cursive;
    color: rgb(241, 230, 208);
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.content-main {
    display: flex;
    flex-direction: column;
    /* background-color: rgba(67, 49, 13, 0.516); */
    background-color: rgba(26, 19, 6, 0.5);
}

.content-main > p {
    text-align: center;
    text-transform: none;
    font-style: italic;
    font-size: 15px;
    margin: 0;
}

h1 {
    /* border-bottom: 3px solid darkgray; */
    text-align: center;
  
}

.Nav {
    /* height: 40px; */
    display: flex;
    height: 3vh;
    align-items: center;
    justify-content: center;

    /* border-top: 2px solid lightgray;
    border-bottom: 2px solid lightgray; */
    background-color: rgb(51,51,51);
    font-size: 18px;

}

.Nav > a {
    color: rgb(241, 230, 208);
}

.ReviewList-Page {
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    gap: 2vw;
    align-items: center;
    
}

.review-list {
    border: 1px solid black;
    border-radius: 10px;
    min-width: 70%;
    /* height: 350px; */
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: blanchedalmond;
}

.image-container {
    display: flex;
    justify-content: left;
    /* border: 1px solid red; */
    /* gap: 80px; */
    gap: 3vw;
}

.list-name {
    /* border: 1px solid black; */
    display: flex;
    text-align: center;
    flex-direction: column;
}

.list-name > h4 {
    margin: 0px;
    color: black;
}

.preview-image {
    width: 150px;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5);
}

a {
    color: rgb(117, 80, 23);
    text-decoration: none;
    text-transform: uppercase;
}

a:hover {
    color: rgb(235, 190, 100);
}


/* styling for book list page */

.Book-list-page {
    margin-top: 175px;
    display: flex;
    flex-direction: column;
    gap: 3vw;
}

.Book-list-container {
    display: flex;
    justify-content: center;
    gap: 2vw;
    /* border: 1px solid black; */
}

.main-image-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /* margin-bottom: 10px; */
    font-size: 18px;
    align-items: center;
    width: 250px;
    /* border: 3px dotted black; */
    /* border-radius: 10px; */
    /* width: 18vw; */
}

.main-image-container > img {
    width: 200px;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5);

}


.information {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    width: 700px;
    /* height: 300px; */
    /* width: 40vw; */
    text-transform: none;
    /* border: 1px dashed black;
    border-radius: 10px; */
    background-color: blanchedalmond;
    font-size: 15px;
    box-shadow: 10px 10px 5px  rgba(0, 0, 0, 0.3);
    /* font-weight: lighter; */
    /* background-color: rgb(250, 238, 223) */
}

.information > p {
    margin: 2px;
}

.information > p > span  {
    font-weight: bold;
    font-size: 16px;
    margin-left: 20px;
}

.buy-container {
    display: flex;
    flex-direction: column;
}
.buy-container > p {
    margin-left: 20px;
    font-weight: bold;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    /* border: 1px solid black; */
}

li {
    display: inline-block;
    margin-top: 1px;
    margin-left: 20px;
    /* border: 1px solid black; */
}

/* footer styling */
.Footer {
    font-size: 12px;
}

/* repsonsive design for review list page */
@media screen and (min-width: 650px) and (max-width: 900px) {
    body {
        /* background-color: purple; */
        font-size: 15px;
    }
    .ReviewList-Page {
        margin-top: 175px;
        
    }
    
    .review-list {
        /* height: 350px; */
        height: 30vh;
        
    }

    .preview-image {
        width: 120px;
    }

}


@media screen and (max-width: 650px) {
    body {
        /* background-color: red; */
        font-size: 10px;
    }

    .Header {
        font-size: 10px;
        /* color: white; */   
    }
    
    .Header > p {
        font-size: 12px;
    }
    .ReviewList-Page {
        margin-top: 120px;
        
    }
    
    .review-list {
        /* height: 350px; */
        height: 22vh;
        
    }

    .preview-image {
        width: 50px;
    }

    .list-name {
        /* border: 1px solid black; */
        display: flex;
        text-align: center; 
        flex-direction: column;
    }
    .list-name > a {
        height: 30px;

    }

}



/* responsive design for book list page */

@media screen and (max-width: 650px) {

    .Book-list-page {
        margin-top: 120px;
    }

    .Book-list-container {
        gap: 5vw;
        align-items: flex-start;
    }

    .main-image-container {
        margin-bottom: 0px;
        font-size: 15px;
        width: 150px;
        /* width: 18vw; */
    }

    .main-image-container > img {
        width: 150px;
    }

    .information {
        width: 300px;
        /* height: 300px; */
        /* width: 40vw; */
        /* border: 1px solid black; */
        font-size: 12px;
        /* background-color: rgb(250, 238, 223) */
    }
    
    

}