body {
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
}

.Header {
    position: fixed;
    width: 100%;
    top: 0;
}


h1 {
    color: black;
    /* border-bottom: 3px solid darkgray; */
    text-align: center;
  
}

.Nav {
    /* height: 40px; */
    text-align: center;
    border-top: 2px solid lightgray;
    border-bottom: 2px solid lightgray;

}

.ReviewList-Page {
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
}

.review-list {
    border: 1px solid black;
    border-radius: 10px;
    width: 80%;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: antiquewhite;
}

.image-container {
    display: flex;
    justify-content: left;
    /* border: 1px solid red; */
    gap: 80px;
}

.list-name {
    /* border: 1px solid black; */
    display: flex;
    text-align: left;
    
}

.preview-image {
    width: 150px;
    box-shadow: 10px 10px 5px;
}

a {
    color: black;
    text-decoration: none;
    text-transform: uppercase;
}

a:hover {
    color: darkgray;
}


/* styling for book list page */

.Book-list-page {
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.Book-list-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    border-bottom: 1px solid lightgray;

}

.main-image-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 10px;
    font-size: 20px;
    align-items: left;
    width: 300px;
}

.main-image-container > img {
    width: 250px;
}


.information {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 500px;
    text-transform: none;
}

.information > p {
    margin: 5px;
}



span {
    font-weight: bold;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* footer styling */
.Footer {
    font-size: 12px;
}

